* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Playfair Display", serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.fontWhite {
    color: white;
}

.fontBlack {
    color: #413d4b;
}

button {
    color: #00e0d0;
    border-style: solid;
    border-color: #00e0d0;
}