* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 1.375em
}

p {
    font-family: "Roboto", sans-serif;
}

.fontWhite {
    color: white;
}

.fontBlack {
    color: #413d4b;
}

button {
    color: #00e0d0;
    border-style: solid;
    border-color: #00e0d0;
    background-color: transparent;
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
}

.story {
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
}

.storyContent {
    /* border: solid 2px blue; */
    display: flex;
    justify-content: flex-start;
    padding: 2.5em 0;
    width: 70%;
}

.storyContent figure {
    flex: 1;
}

.storyContent .text {
    flex: 2;
}

.storyContent .text h1 {
    padding: 0.5em;
    font-weight: bold;
}

.storyContent .text p {
    padding: 1em 0.5em;
}
